@font-face {
    font-family: 'Bacalisties';
    src: url('/fonts/Bacalisties.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Komika Text';
    src: url('/fonts/KOMTXT__.ttf') format('truetype');
}
