@font-face {
    font-family: 'Bacalisties';
    src: url('/fonts/Bacalisties/Bacalisties.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Komika Text';
    src: url('/fonts/Komika-Text/KOMTXT__.ttf') format('truetype');
}
